// Typewriter component(3rd party) css is getting overridden
@mixin typewriter-effect {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(220, 56, 56);
}

.Typewriter {
  .Typewriter__wrapper {
    @include typewriter-effect;
  }
  
  .Typewriter__cursor {
    @include typewriter-effect;
  }
}


